.spinner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    height: 100%;
  }
  
  .spinner {
    margin: auto;
    width: 50px;
    height: 30px;
  }
  
  .spinner > div {
    background: #6000d4;
    height: 100%;
    width: 2px;
    float: left;
    margin: 0 1px;
    -webkit-animation: stretch 2s infinite;
            animation: stretch 2s infinite;
    -webkit-animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
            animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
  }
  
  .spinner .r1 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }
  
  .spinner .r2 {
    -webkit-animation-delay: -.9s;
            animation-delay: -.9s;
  }
  
  .spinner .r3 {
    -webkit-animation-delay: -.8s;
            animation-delay: -.8s;
  }
  
  .spinner .r4 {
    -webkit-animation-delay: -.7s;
            animation-delay: -.7s;
  }
  
  .spinner .r5 {
    -webkit-animation-delay: -.6s;
            animation-delay: -.6s;
  }
  
  @-webkit-keyframes stretch {
    0%, 20%, 49% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      background-color: #6000d4;
    }
    10% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    50%, 70%, 100% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      background-color: #240b74;
    }
    60% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      background-color: #240b74;
    }
  }
  
  @keyframes stretch {
    0%, 20%, 49% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      background-color: #6000d4;
    }
    10% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    50%, 70%, 100% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      background-color: #240b74;
    }
    60% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      background-color: #240b74;
    }
  }